<link rel="stylesheet" href='stylesheets/style.css'>
<link rel="stylesheet" href='stylesheets/bootstrap.css'>
<link rel="stylesheet" href='fonts/fontawesome/css/font-awesome.min.css'>

<footer class="section footer-section" style="padding-top: 75px; padding-bottom: 20px;" >
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3 mb-5">
        <h3>Quick Link</h3>
        <ul class="list-unstyled link">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <h3>Support</h3>
        <ul class="list-unstyled link">
          <li><a href="#">Our Location</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <h3>Contact Info</h3>
        <p><span class="d-block">Address:</span> <span> 110 Woodbury Rd, Watertown, Connecticut</span></p>
        <p><span class="d-block">Phone:</span> <span> (+1) 718 755 9795</span></p>
        <p><span class="d-block">Email:</span> <span> bqletaftschool.org</span></p>
      </div>
      <div class="col-md-3 mb-5">
        <h3>Subscribe</h3>
        <p>Sign up for our newsletter</p>
        <form name="form" action="/postEmail" method="POST" class="footer-newsletter" onsubmit="required()">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your email...">
            <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
          </div>
        </form>
      </div>
    </div>
    <div class="row bordertop text-center pt-5">
      <p class="col-md-12">&copy; Copyright 2018. All Rights Reserved.</p>

      <p class="col-md-12 social">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-youtube"></span></a>

      </p>
    </div>
  </div>
  <script>
   function required() {
       var empt = document.forms["form"]["email"];
       if (empt = "") {
           alert = "Please input a value";
           return false;
       }else {
           alert = "Accepted";
           return true;
       }
   }
</script>
</footer>


