<linK rel="stylesheet" href='stylesheets/nav.css'>
<header >
  <nav class="navbar" style="border: 0px; padding-top: 0px;">
    <div class="logo"><a href="/"><img class="logo" src='images/small_logo.jpeg'></a></div>

    <ul>

      <li><a href = "/">For Schools</a>
        <ul>
          <li><a href="/partner_schools">Partner Schools</a></li>
          <li><a href="/collaborate">Collaborate with us</a></li>
        </ul>
      </li>

      <li><a href = "/">For Organizations</a>
        <ul>
          <li><a href="/non_profit_encyclopedia">Non-profit Groups</a></li>
          <li><a href="/partner_organizations">Partner Organizations</a></li>
          <li><a href="/collaborate">Collaborate with us</a></li>
        </ul>
      </li>

      <li><a href = "/">For Volunteers</a>
        <ul>
          <li><a href="/register_as_volunteer">Register</a></li>
          <li><a href="/check_news">News</a></li>
          <li><a id ="training" href="/training">Training Course</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</header>
