.mainPage-first {
  background-image:url("../images/home_1.jpg");
}

.mainPage-second {
  background-image:url("../images/yf_logo_1.jpg");
}

.button {
  padding: 20px 50px 20px 50px;
  margin: 0px 420px 90px 420px;
  border: #78c65b 3px solid;
  border-radius: 30px;
  text-align:center;

}

.join {
  font-size: 40px;
}