.navbar {
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 80px;
  padding: 0px 30px 0px 40px;
  box-sizing: border-box;
  transition: .3s;
  background-color: lightblue;

  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color:#666;

  z-index: 1;
}

.navbar .logo {
  padding: 0px 20px;
  height:80px;
  float:left;
  font-size: 24px;
  transition: .3s;
}

.navbar ul {
  margin: 0px;
  padding: 10px 0px;
  list-style: none;
}

.navbar ul li {
  float: right;
  width: 240px;
  height: 60px;
  text-align: center;
  background-color: lightblue;
}


.navbar ul li a {
  line-height: 60px;
  font-weight: 600;
  font-size: 1.3em;
  color: #FFFFFF;
  padding: 12px 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:focus  {
  outline:none;
}

.navbar ul li a.active {
  background: #E2472F;
  color: #fff;
  padding: 12px 30px;
  border-radius: 6px;
}

.navbar ul li ul li {
  background-color:rgba(173,216,230,0.7);
  display:inline-block;
  padding: 10px;
  text-align: left;

  display: none;
}

.navbar ul li ul li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 1em;

}

.navbar ul li:hover ul li {
  display: block;
}

