html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading {
  text-align: center;
  font-size: 70px;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  margin: 50px;
}
.org-logo {
  max-height:190px;
  padding-bottom:15px;

  display:block;
  margin-left:auto;
  margin-right:auto;
}
.sponsors {
  margin: 0px 100px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px 15px;
}


.org {

}

.description {
  font-size: 15px;
  word-wrap: break-word;
}
