.info-block {
  width: 100%;
  padding: 0px 80px;
  display:flex;
}
.logo {
  height:300px;
  object-fit: contain;
  flex: 0;
}

.info {
  flex: 1;
  padding: 0px 20px;
}
.block {
  padding: 50px 0px;
}

.bar {
  height: 5px;
  margin: 0px 160px;
  background-color: #FFD200;
}

.heading {
  text-align: center;
  font-size: 70px;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  margin: 50px;
}
.introduction {
  text-align: left;
  font-size: 20px;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  margin: 70px 70px 80px 70px;

}

.block-light {
  background-color:#f4f4f4;

}

.block-dark {
  background-color: #282e34;
  color: #ddd;
}
