.head {
  font-size: 40px;
  padding: 50px 50px 10px 50px;
  text-align: center;
  font-weight: 350;
}


.training-unit {
  padding: 0px 50px 30px 50px;
}

.title {
  text-decoration: underline;
  font-size: 20px;
}

.title {
  font-weight: 300;
}
